/* #region GLOBAL RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

[class^='col-'] {
    padding: 0 1rem;
}

.row {
    margin: 0 -1rem;
}

.container {
    max-width: 1152px;
    width: 80%;
    margin: auto;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.list-unstyled li {
    display: inline-block;
}

/* #endregion GLOBAL RULES */

/* #region VARIABLES */

:root {
    --rsp-primary: #9792E4;
    --rsp-secondary: #FFFFFF;
    --rsp-heanvenly: #0084FD;
    --rsp-light-heanvenly: #B5DDFF;
    --rsp-special: #FDC15F;
    --rsp-footer: #333333;
}

/* #endregion VARIABLES */

/* #region DEBUG */

/* .debug * {
    border: 1px solid red;
} */

.debug header {
    background-color: aquamarine;

}

.debug .container {
    border: 1px dashed red;
}

.debug .row {
    background-color: darkcyan;
}

.debug .logo {
    border: 1px solid darkgreen;
}

.debug .menu {
    border: 1px dashed black;
}

.debug .hamburger {
    border: 1px solid sienna;
}

/* #endregion DEBUG */

/* #region UTILITIES */

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.just-btw {
    justify-content: space-between;
}

.align-cent {
    align-items: center;
}

.d-none-sm {
    display: none;
}

.col-sm-12 {
    width: 100%;
}

.col-sm-8 {
    width: calc(100% / 12 *8);
}

.col-sm-6 {
    width: calc(100% / 12 *6);
}

.col-sm-4 {
    width: calc(100% / 12 *4);
}

/* #endregion UTILITIES */

/* MOBILE */

/* #region NAVBAR */

nav {
    padding: 0.9rem 0;
}

.logo img {
    display: block;
}